@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 18, 100%, 2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 27 5% 45%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 14, 96%, 52%;
    --accent-foreground: 15, 89%, 65%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --button-background: 14, 86%, 55%; /* #FF4D22 */
    --button-foreground: 43, 35%, 96%; /* #F7F4EF */
  
    --text-primary-foreground: 240, 3%, 5%; /* #0D0D0E */
    --text-accent-foreground: 14, 86%, 55%; /* #FF4D22 */
  
    --heading-foreground: 221, 39%, 11%, 1; /* #111827 */
  
    --subtitle-foreground: 220, 6%, 37%; /* #4B5563 */
    --text-secondary-foreground: 220, 6%, 37%; /* #4B5563 */
  
    --accent-light-background: 14, 86%, 88%; /* #FFDED2 */
  
    --background: 60, 9%, 98%; /* #FAFAF9 */
    --background-2: 60, 7%, 94%; /* #F1F1EF */
  
    --accent-2-background: 223, 100%, 57%, 1; /* #2361FF */
    --accent-2-foreground: 43, 35%, 96%; /* #F7F4EF */
  
    --card-title-foreground: 222, 6%, 3%; /* #020915 */
    --card-background: 0, 0%, 100%; /* #FFFFFF */
    --card-border: 0, 0%, 90%; /* #E5E5E5 */
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  p, span, li, a {
    @apply font-body;
  }
}

a.nav-link {
  height: 2.25rem;
  padding: 0 .75rem;
  display: flex;
  align-items: center;
  font-size: 14px;
}

a.nav-link:hover {
  cursor: pointer;
  border-radius: calc(var(--radius) - 2px);
  background-color: hsl(var(--secondary) / .1);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.button-nav {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}